*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
    width: 100vw;
    height: 100vh;
}
.con{
    display: grid;
    /* grid-template-columns: repeat(auto-fit,minmax(100px,200px)); */
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(2,1fr);
    height: 100%;
    gap: 1rem;
    background-color: black;
    padding: 2rem;
    justify-content:center ; /*for full container*/
    align-content: center; /*for full container*/
    justify-items: center; /*for content inside each cell*/
    align-items: center; /*for content inside each cell*/
}
.box{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 200px;
    font-size: 1rem;
    background-color: aqua;
    transition-duration: 3s;
    transition-property: all;
    transition-timing-function: linear;
}
.box:hover{
    transform: rotate(20deg) scale(0.5) ;
}