.box{
    display: inline-block;
    margin-left:20px
}
.head .first{
    margin-left: 100px;
}
.brand{
    font-weight: bold;
    margin-right: 50px;
    font-style: italic;
    font-size: larger;
}
.search-bar{
    width: 50vw;
    height: 30px;
    position: relative;
    bottom:10px;

}
.login button, .signup button{
    height: 30px;
    position: relative;
    bottom: 10px;
    border: none;
    background-color: white;
    font-size: medium;
}
.second img{
    height:40px;
}
.second .name h2{
    position: relative;
    bottom: 10px;
    font-weight: lighter;
}
.head .second{
    padding-left: 80px;
    position: sticky;
    top: 0px;
    background-color: white;
    margin-bottom: 10px;
    z-index: 100;
}
.head .third{
    height:500px;
    background-color: rgb(236, 234, 234);
    padding: 10px 100px 10px 120px;
}
.head .third h3{
    margin-top: 30px;
    margin-bottom: 10px;
    font-weight: lighter;
    display:flex;
}   
.collection img{
    height: 300px;
    width: 250px;
    border-radius: 10px;
    margin: 0px; 
    padding: 0px;   
}
.collection{
    position: relative;

}

.collection .title{
    position: absolute;
    left:30px;
    bottom:20px;
    font-size: 20px;
    color: white;
}
.collection .number{
    position: absolute;
    left:30px;
    bottom:0px;
    color: white;
    font-size: 20px;

}

.restaurant img{
    height: 220px;
    width: 310px;
    border-radius: 10px;
    margin: 0px;
}
.restaurant .image{
    position: relative;
}
.off{
    position: absolute;
    bottom:10px;
    background-color: rgba(7, 19, 185, 0.7);
    left:10px;
    height: 20px;
    font-weight: bold;
    color: white;
    align-items: center;
}

.restaurant h4,h3,h2{
    display: inline-block;
    overflow: hidden;
    margin: 0px;
}
#name{
    width: 275px;
    font-size: 20px;
    font-weight: lighter;
    margin-top: 0px;
}
#rate{
    width:45px;
    background-color: rgb(31, 199, 31);
    border-radius: 5px;
    position: absolute;
    right: 5px;
}
.restaurant {
    width:310px;
    height: 310px;
    display: inline-block;
    position: relative;
    border:10px solid white;
    border-radius: 10px;
    margin: 10px;

}
.restaurant:hover{
    box-shadow: 0px 0px 10px 5px rgba(117, 116, 116, 0.5);
}
#food{
    width:220px;
    overflow: hidden;
    height: 20px;
}
#address{
    width: 270px;
    overflow: hidden;
    height: 20px;
}

.restaurant h4{
    font-weight: lighter;
}
#price{
    position: absolute;
    right: 5px;
}
#dist{
    font-weight: bolder;
    position: absolute;
    right: 5px;
}
main{
    margin-left: 100px;
    margin-right: 100px;
    padding: 20px;

}
